.chat-container {
 text-align: center;
  width: 60%;
}
.chat-body{
  border: 1px solid #ccc;
  height: 600px;
  padding: 10px;
}
.chat-tools{
  text-align: right;
  padding-top: 10px;
}

.chat-input{
  margin-right: 10px;
  width: 400px;
}

.chat-send{
  width: 100px;
}
